<app-header></app-header>
<br>

<div class="container">
<label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>
  
 <br>
  <div class="form-group">
      <label for="usr">Title:</label>
      <input type="text" class="form-control " style="width:450px" id="title" [(ngModel)]="post.title">
    </div>
  <div class="form-group">
      <label for="comment">Description:</label>
      <textarea class="form-control" rows="5" style="width:450px" id="comment" name="text"  [(ngModel)]="post.description"></textarea>
    </div>
   
    <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
  </div>