<app-header></app-header><br>
<div class="row">
<div *ngFor="let u of following">
  <div class="col-3">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/images/dp2.jpg" alt="profile image">
    <div class="card-body">
      <h5 class="card-title">@{{u.followid.name}}</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a  class="btn btn-info" (click)="unFollow(u)">UnFollow</a>
    </div>
  </div><br>
  </div>
  </div>
  </div>